

.bg-info {
  background-color: #0b436c !important; /* Replace with your preferred color value */
  color: #fff; /* Set text color to white */
}

.breadcrumb-item{
  color: white;
}

.button_class{
  color: white;
}

.mb-0{
  font-size: roboto-light;
}

.mb-1{
  color: #0b436c;
  font-weight: bold;
}

