

.bg-info {
  background-color: #0b436c !important; /* Replace with your preferred color value */
  color: #fff; /* Set text color to white */
}

.breadcrumb-item{
  color: white;
}

.button_class{
  color: white;
}

.my_button{
  background-color: #D22B74;
  // background-color: #0B436C;
  color: white;
}

.mb-0{
  font-size: roboto-light;
}

.mb-1{
  color: #0b436c;
  font-weight: bold;
}

#profile{
  border: 0px;
  box-shadow: none;
}

.card{
  // background-color: white;
  // border-radius: 10px;	
  // box-shadow: 0 0 5px rgb(209, 208, 208);
  border: 0px;
  box-shadow: none;
}
