<div class="sidebar container-fluid">
    <div class="sidebar_menu">
        <div class="mb-3">
            <i class="bi bi-heart-pulse" style="font-size: 23px; margin-right: 22px;"></i>
            <span>Measurements</span>
        </div>
        <div class="mb-3">
            <i class="bi bi-house" style="font-size: 23px; margin-right: 22px;"></i>
            <span>Profile</span>
        </div>
        <div>
            <i class="bi bi-capsule" style="font-size: 23px; margin-right: 22px;"></i>
            <span><a routerLink="/consultations">Consultations</a></span>
        </div>
    </div>
    <!-- <footer class="ms-3">
        <h6>Powered by Pfizer 2023&copy;</h6>
    </footer> -->
</div>