.sidebar {
    padding-top: 0;
    border-right: #BCBCBC 1px solid;
    height: 100%;
};

.sidebar_menu{
    // width: 250px;
    border-right: none;
    background: white;
    color: black;
    padding-top: 16px;
    padding-left: 26px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.sidebar a{
    text-decoration: none;
    color: black;
}