<div class="sidebar container-fluid">
    <div class="sidebar_menu">
        <a href="https://www.youtube.com/">
            <div class="mb-3">
                <i class="bi bi-calendar4-week" style="font-size: 28px; margin-right: 25px;"></i>
                <span>Personal data</span>
            </div>
        </a>
        <div class="mb-3">
            <i class="bi bi-house" style="font-size: 28px; margin-right: 25px;"></i>
            <span>Profile</span>
        </div>
        <div>
            <i class="bi bi-gear" style="font-size: 28px; margin-right: 25px;"></i>
            <span>Settings</span>
        </div>
    </div>
    <div class="vl_sidebar"></div>
</div>