.my_button{
  background-color: #D22B74;
  // background-color: #0B436C;
  color: white;
}

.card-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 5px 20px 5px #ffffff3c;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.output-div {
  padding: 15px;
  margin: 16px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 5px 20px 5px #ffffff3c;
}
