<app-navbar ></app-navbar>
<hr style="margin: 0px;">
<body class="bg-image" [formGroup]="diagnosisForm" style="background-image: url('assets/bg-top.png'); height: 100vh; background-color:rgb(248, 248, 248)">
  <div class="card-group">
    <div class="card m-3 p-2 card-input" >
      <div class="card-body">
        <h5 class="card-title">Pregnancies</h5>
        <input type="text" class="form-control " formControlName="pregnancies" name="pregnancies" placeholder="Pregnancies"/>
        <p class="card-text mt-2">Number of times pregnant</p>
      </div>
    </div>
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">Glucose</h5>
        <input type="text" class="form-control " formControlName="glucose" name="glucose" placeholder="mg/dL"/>
        <p class="card-text mt-2">Plasma glucose concentration a 2 hours in an oral glucose tolerance test</p>
      </div>
    </div>
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">Blood Pressure</h5>
        <input type="text" class="form-control " formControlName="bloodPressure" name="bloodPressure" placeholder="mm Hg"/>
        <p class="card-text mt-2">Diastolic blood pressure (mm Hg)</p>
      </div>
    </div>
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">Skin Thickness</h5>
        <input type="text" class="form-control " formControlName="skinThickness" name="skinThickness" placeholder="mm"/>
        <p class="card-text mt-2">Triceps skin fold thickness (mm)</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">Insulin</h5>
        <input type="text" class="form-control " formControlName="insulin" name="insulin" placeholder="mu U/ml"/>
        <p class="card-text mt-2">2-Hour serum insulin (mu U/ml)</p>
      </div>
    </div>
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">BMI</h5>
        <input type="text" class="form-control " formControlName="bmi" name="bmi" placeholder="BMI"/>
        <p class="card-text mt-2">Body mass index (weight in kg/(height in m)^2)</p>
      </div>
    </div>
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">Age</h5>
        <input type="text" class="form-control " formControlName="age" name="age" placeholder="Years"/>
        <p class="card-text mt-2">Age (years)</p>
      </div>
    </div>
    <div class="card m-3 p-2 card-input">
      <div class="card-body">
        <h5 class="card-title">Diabetes Pedigree Function</h5>
        <input type="text" class="form-control " formControlName="dpf" name="dpf" placeholder="DPF"/>
        <p class="card-text mt-2">Diabetes pedigree function</p>
      </div>
    </div>
  </div>

  <div class="output-div text-center">
    <button class="btn my_button btn-m" type="submit" [disabled]="!diagnosisForm.valid" (click)="requestOutput()">Calculate</button>
    <h3 class="mt-3">{{ diabetesPercentage }}</h3>
    <h4 class="mt-1" *ngIf="output >= 75">Do not hesitate to <a href="mailto: sacchonapp@gmail.com" >contact</a> us!</h4>
    <p style="font-size:small;"><i>Disclaimer, this should not be misconceived as a certain result. Refer to a doctor if you have any suspicions.</i></p>
  </div>
</body>
