<div class="p-4" style="height: calc(100vh - 500px);">
    <table class="table align-middle">
        <!-- <table class="table text-center align-middle"> -->
        <thead class="table_head bg-light">
            <tr>
                <th>Date Created</th>
                <th>Medication (Dosage)</th>
                <th>Details</th>
                <th>Doctor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of response">
                <td>{{ item.date_created }}</td>
                <td>
                    <div *ngIf= "medications[getIndexFromId(item.id)].length===0">-</div>
                    <div class="justify-content-center">
                        <table class="text-center">
                            <tbody>
                                <tr *ngFor="let medicationItem of medications[getIndexFromId(item.id)]">
                                    <td>{{ medicationItem.medName }} ({{ medicationItem.dosage }})</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>{{ item.details }}</td>
                <td>{{ item.doctor_first_name }} {{ item.doctor_last_name }}</td>
                <td>
                    <span class="badge rounded-pill d-inline" [ngClass] = "activeId == item.id ? 'active_class' : 'inactive_class'">{{ activeId == item.id ? "ACTIVE" : "EXPIRED" }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <nav class="d-flex justify-content-md-center mt-3" *ngIf="retrievedPages">
        <ul class="pagination pagination-circle">
          <li class="page-item " *ngIf="currentPage == 0">
            <button class="page-link disabled">Previous</button>
          </li>
           <li class="page-item" *ngIf="currentPage > 0">
            <button class="page-link" (click)="previousPage()">Previous</button>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor( pagesVisible ); let i = index">
            <button class="page-link active" (click)="setPageValue(i + 1)" *ngIf="i == currentPage">{{ i + 1 }}<span class="visually-hidden">(current)</span></button>
            <button class="page-link" (click)="setPageValue(i + 1)" *ngIf="i != currentPage">{{ i + 1}}</button>
          </li>
          <li class="page-item" *ngIf="currentPage == pagesVisible-1">
            <button class="page-link disabled">Next</button>
          </li>
          <li class="page-item" *ngIf="currentPage < pagesVisible-1">
            <button class="page-link" (click)="nextPage()">Next</button>
          </li>
        </ul>
    </nav>

</div>
