.active_class{
    background-color: RGBA(25, 135, 84, var(--bs-bg-opacity, 1)) !important;
}

.inactive_class{
    background-color: RGBA(220, 53, 69, var(--bs-bg-opacity, 1)) !important;
}

.table_head{
    color: #0B436C;
    font-weight: 100!important;
}

.page-link{
    color: #0B436C!important;
  }
  
.page-link.active{
color: white!important;
background-color: #0B436C!important;
border-color: #0B436C!important;
}

.disabled{
    color: gray!important;
}

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
  
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
  }