<app-navbar [patientId]="userId"></app-navbar>

<div class="row w-100" style="height: 100vh;">
  <app-sidenav class="col-sm-2 p-0"></app-sidenav>

  <div class="col-sm-10 p-3">
    <div class="container mt-3 mb-3">
      <div class="row">
        <div class="col-6">
          <h2>Insights</h2>
        </div>
        <div class="col-6" style="text-align: right;">
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" [min]="dateSigned" [max]="lastDate">
              <input matStartDate placeholder="Start date" readonly="true" id="lastMonth" [(ngModel)]="lastMonth" name="lastMonth" (dateInput)="addEvent(true, $event)">
              <input matEndDate placeholder="End date" readonly="true" id="dateToday" [(ngModel)]="dateToday" name="dateToday" (dateInput)="addEvent(false, $event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker ></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-5 col-sm-3 col-md-2 flex-grow-1 card m-2 shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h6 class="card-text">Total Measurements</h6>
            <ngx-skeleton-loader *ngIf="isRetrieving" count="2" appearance="line"></ngx-skeleton-loader>
            <h2 class="card-title" *ngIf="!isRetrieving">{{ measurements }}</h2>
             </div>
        </div>

        <div class="col-5 col-sm-3 col-md-2 flex-grow-1 card m-2 shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h6 class="card-text">Total Consultations</h6>
            <ngx-skeleton-loader *ngIf="isRetrieving" count="2" appearance="line"></ngx-skeleton-loader>
            <h2 class="card-title" *ngIf="!isRetrieving">{{ consultations }}</h2>
            </div>
        </div>
        <div class="col-5 col-sm-3 col-md-2 flex-grow-1 card m-2 shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h6 class="card-text">Average Carbs</h6>
            <ngx-skeleton-loader *ngIf="isRetrieving" count="2" appearance="line"></ngx-skeleton-loader>
            <h2 class="card-title" *ngIf="!isRetrieving">{{ averageCarbs }}</h2>
             </div>
        </div>
        <div class="col-5 col-sm-3 col-md-2 flex-grow-1 card m-2 shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h6 class="card-text">Average Glucose</h6>
            <ngx-skeleton-loader *ngIf="isRetrieving" count="2" appearance="line"></ngx-skeleton-loader>
            <h2 class="card-title" *ngIf="!isRetrieving">{{ averageGlucose | number : '.0-3' }}</h2>
             </div>
        </div>
      </div>

      <div class="shadow card p-1 rounded">
        <h3 class="mt-4 ms-4">Carbs</h3>
        <div #containerRef class="">
          <ngx-charts-line-chart [view]="[containerRef.offsetWidth, 400]" [scheme]="colorScheme" [results]="carbsChart"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisCarbsLabel">
          </ngx-charts-line-chart>
        </div>
        <h3 class="mt-4 ms-4">Glucose</h3>
        <div class="align-items-center">
          <ngx-charts-line-chart [view]="[containerRef.offsetWidth, 400]" [scheme]="colorSchemeGlucose"
            [results]="glucoseChart" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisGlucoseLabel" (select)="onSelect($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
