.main_title{
    color:#0B436C;
    margin: auto;
    width: 60%;
    width: fit-content;
    font-weight: 400;
    margin-top: 30px;
    font-size: 40px;
}

@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}

.main_motto{
    color:#35B9BA;
    margin: auto;
    width: 60%;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.vl_sidebar{
    border-left: 2px solid #BCBCBC;
    height: 100vh;
    width: fit-content;
}

.card{
    margin-top: 40px!important;
    width: 65%;
    margin: auto;
}

.card_body{
    margin: auto;
    padding: 25px;
    width: 100%;
    justify-content: center;
    padding-bottom: 15px;
}

.card_title{
    font-size: 26px;
    color: #0B436C;
}

.card_text{
    margin-top: 10px;
    font-size: 16px;
    color: #0B436C;
    width: 100%;
}

.card_bold{
    font-size: 18px;
    font-weight: 500;
}

.doctor_avatar{
    height: auto;
    width: 65%;
}

.past_cons{
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 12px;
    color: #0B436C;
}

.my_button{
    background-color: #D22B74;
    color: white;
}

a {
    text-decoration: none;
    color: #0B436C;
}

.alert {
    display: flex;
    justify-content: center;
    background-color: RGBA(25, 135, 84, var(--bs-bg-opacity, 1));
    color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    position: fixed;
    left: 0;
    text-align: center;
    animation: slideIn 0.5s ease forwards, glow 2s infinite;
    margin-left: 47%;
    font-size: 18px;
    width: 22%;
}
