.title{
    color: whitesmoke;
}

.form_page{
    padding-top: 20px;
    height: 100vh;
    background-color: #0B436C;
}

.form{
    background-color: white;
    border-radius: 10px;
}

.my_button{
    background-color: #D22B74;
    color: white;
}