.title{
    color: whitesmoke;
    display: inline-flex;
}

.form_page{
    padding-top: 20px;
    height: 100vh;
    background-color: #0B436C;
}

.form{
    background-color: white;
    border-radius: 10px;	
	box-shadow: 0px 2px 10px 2px #ffffff3c;
}

.my_button{
    background-color: #D22B74;
    color: white;
}

.border{
    border-radius: 5px;
}

.motto{
    color: #35B9BA;
    font-size: 18px;
    font-weight: 400;
}